@import 'variables';

.course-wrapper {
    margin-top: 16px;
}

.select-actions-submit-course {
    width: 200px;
    margin: 0 18px;
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.mt-66 {
    margin-top: 66px;
}

.z-index-1 {
    z-index: 1;
}