<div class="mt-4 ml-4 mb-4">
    <form method="GET" action="/">
        <div class="form-group">
            <label for="search-input">Search</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter key work to search...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>